<!DOCTYPE html>
<html>
<head>
  <title>Certificate Generator</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

  <div class="container">
    <div class="cover">
      <h1>Download Skillhoulette Certificate</h1>
      <form  class="flex-form" action="/generate_certificate" method="POST">
        <label for="name" ></label>
        <input type="text" id="name" name="name" required placeholder="Enter your name:">
        <input type="submit" value="Generate Certificate">
      </form>
    </div>
  
  </div>
  
</body>
</html>
